a:link {
    text-decoration: none ;
  }
  *:focus {
      outline: none;
  }
  
  
  .strong{
    font-weight: bold;
  }
  .bigger{
    font-size: 1.5em
  }
  html,body{
    
    background-color: rgb(30,30,30);
  
  }
  

  #aboutintro{
    color:white;
    padding-left: 60px;
    font-family: consolas,monaco,monospace;
    animation: fade 0.3s;
  }

  #introtext{
    padding-left: 100px;
    /*padding-top: 100px;*/
  }

    

    .content{
        text-align: center;
        display: block;
    }

    
  
  #spacer{
    padding-top: 15px;
  }
  .intro{
    color: white;
    animation: typing 1s steps(14) forwards,
      blink 0.5s 4;
    overflow:hidden;
    white-space:nowrap;
    font-family:consolas,monaco,monospace;
  
    width: 14ch;
    vertical-align: bottom;
    display: inline-block;
  
    /*border-right:4px solid white;*/
  }

  

  .icons{
      display: inline-block;
      padding-right: 25px;
      padding-bottom: 10px;

      position: relative;
  
  
    transition: 0.2s;
    transform: translate(0,0px);
  }

  .icons:hover{
    position: relative;
    /*animation: up 1s infinite;*/
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
    
    
    
  }

  

  
  .directory{
    color:rgb(182,181,64);
    font-family: consolas,monaco,monospace;
    vertical-align: bottom;
    display: inline-block;
  }
  .prompt{
    color:rgb(108,72,238);
    font-family: consolas,monaco,monospace;
    vertical-align: bottom;
    display: inline-block;
  }
  .userinfo{
    color:rgb(66,200,212);
    font-family: consolas,monaco,monospace;
    vertical-align: bottom;
    display: inline-block;
  }
  #typing{
    padding-left: 100px;
  
    align-items: center;
  }
  
  #typearea{
    border: none;
    /*margin-top: 12px;*/
    background-color: rgb(30,30,30);
    color: white;
    flex:1;
    font-size: 2em;
    font-family: consolas,monaco,monospace;
    /*display: inline-block;*/
    font-weight: bold;
  
  
  }
  
  .hide{
    display:none;
  }
  .show{
    display: flex;
  }
  
  
  @keyframes typing {

    0%{
      width: 0ch;
    }
    100%{
      width: 14ch;
    }
  }
  
  @keyframes blink {
    0%,100% {
      border-right:2px solid transparent;
    }
    50% {
      border-right:2px solid #FFFFFF;
    }
  }
    @keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  

  